  :global {
    @import 'base';
    @import 'vendor/bourbon/bourbon';
    @import 'vendor/neat/neat';
    @import "vendor/base/base";

    @import "vendor/neat/neat-helpers";
    @import "mixins/centerer";

    @import "views/LoginView";

    @import "typography";
    @import "top-menu";


    $primary: #F39C38;
    $action: #E74C3C;
    $accent: #03A678;
    $light-color: #ECECF0;
    $medium-blue: #34495E;
    $text: #353535;
    $active-menu-item: #282F3B;

    html {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    #root {
      @include outer-container(100%);
      height: 100%;
      position: relative;
      background-color: $light-color;
    }

    .below-menu {
      height: calc(100% - 61px);
      display: block;
      overflow:auto;
    }

    .left-menu {
      position: relative;
      background-color: $medium-blue;
      display: block;
      float: left;
      width: 150px;
      height: 100%;
      padding-top: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .menu-item {
      display: block;
      width: 100%;
      height: 120px;
      border-color: white;
      margin-top: 30px;

      .image-container {
        display: block;
        height: calc(100% - 40px);
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: inline-block;
          width: auto;
          text-align: center;
          margin-left:auto;
          margin-right:auto;
          color: white;
          margin: 0;
        }
      }

      .title-container {
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h4 {
        margin: 0;
        color: white;
      }
    }

    .menu-item.active {
      background-color: $active-menu-item;
    }

    #{$all-text-inputs} {
      &.invalid {
        border: 1px solid red;
      }
    }
  }
